<div class="input-group">
	<span class="input-group-btn">
		<button class="btn btn-default" name="edit_mode" id="edit_mode" onclick="editMode()" data-editMode="disabled"/>Enable Edit Mode</button>
	</span>
	<input type="text" class="form-control" id="url_input" placeholder="Edit mode must be enabled to edit the background image of a folder" disabled/>
</div><!-- /input-group -->

<div id="canvas">
	<!-- here's an example of a linked folder, it currently also goes to the link upon drop so that needs to be fixed.

	<div class="folder draggable"><a href="http://google.com"><span class="link"></span></a></div> -->
	
	<div id="fuckery" class="folder" style="background-image:url('images/folder.png');"><p>Photos</p></div>
	<div class="folder"><p>Workspace</p></div>
	<div class="folder"><p>Homework</p></div>
	<div class="folder"><p>Turn-in</p></div>
	<div class="folder"><p>INFO 320</p></div>
</div>
