<div id = "canvas">
	<!-- here's an example of a linked folder, it currently also goes to the link upon drop so that needs to be fixed.

	<div class="folder draggable"><a href="http://google.com"><span class="link"></span></a></div> -->
	
	<div class="folder draggable"><p>Photos</p></div>
	<div class="folder draggable"><p>Workspace</p></div>
	<div class="folder draggable"><p>Homework</p></div>
	<div class="folder draggable"><p>Turn-in</p></div>
	<div class="folder draggable"><p>INFO 320</p></div>
</div>
