<div class="jumbotron">
  <h1>Picture Projector</h1>
  <p class="lead">
    A new way to access and organize your files.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/explorer">Try it Now! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Picture Projector</h4>
  <p>
    Picture Projector is a new way to visualize your data. Choose images to represent your folders, and then drag and drop them wherever you want on a canvas!

  <h4>ItemMirror Integration</h4>
  <p>
    ItemMirror is a JavaScript library that allows you to access and associate all your files from various cloud storage services (however only Dropbox is currently supported).
  </p>
</div>
